<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- temp fix CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

  <%= csrf_meta_tags %>

</head>
<body>
<%= render "nav" %>
<div class='container'>
  <%= content_tag :div, notice, class: "bg-success" %>
  <%= content_tag :div, alert, class: "bg-danger" %>
  <%= yield %>
</div>

</body>
</html>
